@{
    ViewBag.Title = "Udemy Online";
}

<div class="possibility">
    <div class="poss-top">
        <h2>Step into a world of possibility</h2>
        <p>Whatever you want to do, this is the place to start learning how to do it</p>
    </div>
</div>
<div>
    <div class="cont1">
        <h2 class="cont1head1">Let's start learning, Emmanuel</h2>
        <a class="learn">My Learning</a>
    </div>
    <div class="cont1 cont2">
        <div class="details">
            <img width="100" height="135" style="background-color:gray" src="https://mp4-c.udemycdn.com/2021-03-17_15-15-58-28b96a57f945ed3ef0e4bd4f3347abf2/1/thumb-1.jpg?Expires=1628103991&Signature=ga63E00CoQlts08ay6Yq9RscsNuRYSxK3aNiRTZ~rUV3IJGHgi3h0N2Xp6Dd4UeOuK5CgICdAgPQ4K9AxA53Run2VeYlEZUlRwwMM1kPweBYlZjnsZMHpzNysEL-gdywvVS7WcMFluTsvAZS7zAOMmqO7pv9Nqn0~Px9OOv-SG3d1elu2DFgPZXBlSBIlSXqKYKiI-M4~N-QgS9Xst3aJs4qw0lpIHr5qRkE1LPEtcpasu-lPLoValt86F6nr7EpV0FAOamQWWTSnAA25el8n~DGiToqgqVtbi6sovWkH2c~FOaf30ztQSO9X266dmRK2s4U5tqI28uf-jOV-bpHYQ__&Key-Pair-Id=APKAITJV77WS5ZT7262A" />
            <div>
                <h6>Microservice Architecture and Implementation</h6>
                <h4>3. Run Final Application</h4>
                <h6>Lecture * 12mins left</h6>
            </div>
        </div>
        <div class="details">
            <img width="100" height="135" src="https://mp4-c.udemycdn.com/2021-03-17_15-15-58-28b96a57f945ed3ef0e4bd4f3347abf2/1/thumb-1.jpg?Expires=1628103991&Signature=ga63E00CoQlts08ay6Yq9RscsNuRYSxK3aNiRTZ~rUV3IJGHgi3h0N2Xp6Dd4UeOuK5CgICdAgPQ4K9AxA53Run2VeYlEZUlRwwMM1kPweBYlZjnsZMHpzNysEL-gdywvVS7WcMFluTsvAZS7zAOMmqO7pv9Nqn0~Px9OOv-SG3d1elu2DFgPZXBlSBIlSXqKYKiI-M4~N-QgS9Xst3aJs4qw0lpIHr5qRkE1LPEtcpasu-lPLoValt86F6nr7EpV0FAOamQWWTSnAA25el8n~DGiToqgqVtbi6sovWkH2c~FOaf30ztQSO9X266dmRK2s4U5tqI28uf-jOV-bpHYQ__&Key-Pair-Id=APKAITJV77WS5ZT7262A" />
            <div>
                <h6>Microservice Architecture and Implementation</h6>
                <h4>3. Run Final Application</h4>
                <h6>Lecture * 12mins left</h6>
            </div>
        </div>
        <div class="details">
            <img width="100" height="135" src="https://mp4-c.udemycdn.com/2021-03-17_15-15-58-28b96a57f945ed3ef0e4bd4f3347abf2/1/thumb-1.jpg?Expires=1628103991&Signature=ga63E00CoQlts08ay6Yq9RscsNuRYSxK3aNiRTZ~rUV3IJGHgi3h0N2Xp6Dd4UeOuK5CgICdAgPQ4K9AxA53Run2VeYlEZUlRwwMM1kPweBYlZjnsZMHpzNysEL-gdywvVS7WcMFluTsvAZS7zAOMmqO7pv9Nqn0~Px9OOv-SG3d1elu2DFgPZXBlSBIlSXqKYKiI-M4~N-QgS9Xst3aJs4qw0lpIHr5qRkE1LPEtcpasu-lPLoValt86F6nr7EpV0FAOamQWWTSnAA25el8n~DGiToqgqVtbi6sovWkH2c~FOaf30ztQSO9X266dmRK2s4U5tqI28uf-jOV-bpHYQ__&Key-Pair-Id=APKAITJV77WS5ZT7262A" />
            <div>
                <h6>Microservice Architecture and Implementation</h6>
                <h4>3. Run Final Application</h4>
                <h6>Lecture * 12mins left</h6>
            </div>
        </div>
    </div><br /><br />
    <h2 class="cont1head1">What to learn next</h2>
    <h2>Recommended for you</h2>
    <div class="cont1 cont3">
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg 1x, https://img-c.udemycdn.com/course/480x270/1844356_cba1_5.jpg 2x">
            <div class="course-details">
                <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
                <p>Braghen Patel</p>
                <p>4.4 *****</p>
                <p><strong>$89.99</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg 1x, https://img-c.udemycdn.com/course/480x270/1148688_4313_4.jpg 2x">
            <div class="course-details">
                <h4>Design Patterns and Dev in C# and .NET</h4>
                <p>Braghen Patel</p>
                <p>4.4 *****</p>
                <p><strong>$89.99</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg 1x, https://img-c.udemycdn.com/course/480x270/2813723_c3e2.jpg 2x">
            <div class="course-details">
                <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
                <p>Braghen Patel</p>
                <p>4.4 *****</p>
                <p><strong>$89.99</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg 1x, https://img-c.udemycdn.com/course/480x270/1922984_a9fc_2.jpg 2x">
            <div class="course-details">
                <h4>Complete Guide on C# Development & Testing</h4>
                <p>Abdulmalik Jaguadar</p>
                <p>4.4 *****</p>
                <p><strong>$12.06</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
            <div class="course-details">
                <h4>Windows Presentation Foundation Class</h4>
                <p>James Peterson</p>
                <p>4.8 *****</p>
                <p><strong>$54.24</strong></p>
            </div>
        </div>
    </div><br /><br />
    <h2>Top Courses in <span style="color:blue">Web Development</span></h2>
    <div class="cont1 cont3">
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg 1x, https://img-c.udemycdn.com/course/480x270/1844356_cba1_5.jpg 2x">
            <div class="course-details">
                <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
                <p>Braghen Patel</p>
                <p>4.4 *****</p>
                <p><strong>$89.99</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg 1x, https://img-c.udemycdn.com/course/480x270/1148688_4313_4.jpg 2x">
            <div class="course-details">
                <h4>Design Patterns and Dev in C# and .NET</h4>
                <p>Braghen Patel</p>
                <p>4.4 *****</p>
                <p><strong>$89.99</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg 1x, https://img-c.udemycdn.com/course/480x270/2813723_c3e2.jpg 2x">
            <div class="course-details">
                <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
                <p>Braghen Patel</p>
                <p>4.4 *****</p>
                <p><strong>$89.99</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg 1x, https://img-c.udemycdn.com/course/480x270/1922984_a9fc_2.jpg 2x">
            <div class="course-details">
                <h4>Complete Guide on C# Development & Testing</h4>
                <p>Abdulmalik Jaguadar</p>
                <p>4.4 *****</p>
                <p><strong>$12.06</strong></p>
            </div>
        </div>
        <div class="courses">
            <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
            <div class="course-details">
                <h4>Windows Presentation Foundation Class</h4>
                <p>James Peterson</p>
                <p>4.8 *****</p>
                <p><strong>$54.24</strong></p>
            </div>
        </div>
    </div>
</div><br /><br />
<h2>Because you viewed "<span style="color:blue">C# Development</span>"</h2>
<div class="cont1 cont3">
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg 1x, https://img-c.udemycdn.com/course/480x270/1844356_cba1_5.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg 1x, https://img-c.udemycdn.com/course/480x270/1148688_4313_4.jpg 2x">
        <div class="course-details">
            <h4>Design Patterns and Dev in C# and .NET</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg 1x, https://img-c.udemycdn.com/course/480x270/2813723_c3e2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg 1x, https://img-c.udemycdn.com/course/480x270/1922984_a9fc_2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide on C# Development & Testing</h4>
            <p>Abdulmalik Jaguadar</p>
            <p>4.4 *****</p>
            <p><strong>$12.06</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
        <div class="course-details">
            <h4>Windows Presentation Foundation Class</h4>
            <p>James Peterson</p>
            <p>4.8 *****</p>
            <p><strong>$54.24</strong></p>
        </div>
    </div>
</div><br /><br />
<h2>Because you searched for "<span style="color:blue">.NET Development</span>"</h2>
<div class="cont1 cont3">
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg 1x, https://img-c.udemycdn.com/course/480x270/1844356_cba1_5.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg 1x, https://img-c.udemycdn.com/course/480x270/1148688_4313_4.jpg 2x">
        <div class="course-details">
            <h4>Design Patterns and Dev in C# and .NET</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg 1x, https://img-c.udemycdn.com/course/480x270/2813723_c3e2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg 1x, https://img-c.udemycdn.com/course/480x270/1922984_a9fc_2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide on C# Development & Testing</h4>
            <p>Abdulmalik Jaguadar</p>
            <p>4.4 *****</p>
            <p><strong>$12.06</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
        <div class="course-details">
            <h4>Windows Presentation Foundation Class</h4>
            <p>James Peterson</p>
            <p>4.8 *****</p>
            <p><strong>$54.24</strong></p>
        </div>
    </div>
</div><br /><br />
<h2>Because you searched for "<span style="color:blue">Microservices</span>"</h2>
<div class="cont1 cont3">
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg 1x, https://img-c.udemycdn.com/course/480x270/1844356_cba1_5.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg 1x, https://img-c.udemycdn.com/course/480x270/1148688_4313_4.jpg 2x">
        <div class="course-details">
            <h4>Design Patterns and Dev in C# and .NET</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg 1x, https://img-c.udemycdn.com/course/480x270/2813723_c3e2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg 1x, https://img-c.udemycdn.com/course/480x270/1922984_a9fc_2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide on C# Development & Testing</h4>
            <p>Abdulmalik Jaguadar</p>
            <p>4.4 *****</p>
            <p><strong>$12.06</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
        <div class="course-details">
            <h4>Windows Presentation Foundation Class</h4>
            <p>James Peterson</p>
            <p>4.8 *****</p>
            <p><strong>$54.24</strong></p>
        </div>
    </div>
</div><br /><br />
<h2>Our top pick for you</h2>
<div class="top-pick">
    <img alt="" width="600" height="320" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
    <div class="pick-details">
        <h3>Using gRPC in Microservices Communication with .NET 5</h3>
        <p>Building a high-performance gRPC Inter-service communication between backend microservices with .NET 5 and AspNet 5</p>
        <p>By Emmanuel Idiaghe</p>
        <p>Updated <strong>April 2021</strong> 7.5 total hours * 98 lectures * Intermediate</p>
        <p>4.8 *****</p>
        <p style="margin-top:100px"><strong>$54.24</strong></p>
    </div>
</div><br /><br />
<h2>Short and sweet courses for you</h2>
<div class="cont1 cont3">
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1844356_cba1_5.jpg 1x, https://img-c.udemycdn.com/course/480x270/1844356_cba1_5.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1148688_4313_4.jpg 1x, https://img-c.udemycdn.com/course/480x270/1148688_4313_4.jpg 2x">
        <div class="course-details">
            <h4>Design Patterns and Dev in C# and .NET</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/2813723_c3e2.jpg 1x, https://img-c.udemycdn.com/course/480x270/2813723_c3e2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide to ASP.NET Core MVC (.NET 5)</h4>
            <p>Braghen Patel</p>
            <p>4.4 *****</p>
            <p><strong>$89.99</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1922984_a9fc_2.jpg 1x, https://img-c.udemycdn.com/course/480x270/1922984_a9fc_2.jpg 2x">
        <div class="course-details">
            <h4>Complete Guide on C# Development & Testing</h4>
            <p>Abdulmalik Jaguadar</p>
            <p>4.4 *****</p>
            <p><strong>$12.06</strong></p>
        </div>
    </div>
    <div class="courses">
        <img alt="" width="240" height="135" class="course-card--course-image--2sjYP browse-course-card--image--35hYN" src="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg" srcset="https://img-c.udemycdn.com/course/240x135/1649714_d105.jpg 1x, https://img-c.udemycdn.com/course/480x270/1649714_d105.jpg 2x">
        <div class="course-details">
            <h4>Windows Presentation Foundation Class</h4>
            <p>James Peterson</p>
            <p>4.8 *****</p>
            <p><strong>$54.24</strong></p>
        </div>
    </div>
</div><br /><br />